
	<div class="well well">
		<p>
			Welcome to the Jungle!! <br>
			Congo Marketplace is a jungle of intersting products that can be found in the the LAB Miami.
			Products on Congo range from a broken espresso machine to an "Imported" Dark Dog Energy Drink.
			
		</p>
	</div>

	<center><div class="profile_pic">
		<ul>
			<li><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAANfAAAAJDc5MDA1YzE5LTc0MGYtNDc1OC04ZmFkLTZiOTVhMjA4NTc0Mw.jpg"></li>
			<li><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/005/03f/3d5/1417ea0.jpg"></li>
			<li><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAMxAAAAJGQ2NzFjY2JiLWNkNDAtNGRiMy1hZDQ0LWUxNmEwMDJkODY1MQ.jpg"></li>
		</ul>
		<ul class="profile_name">
			<li> Gabriel Noboa </li>
			<li>Carlos Socorro</li>
			<li> Jeff Shapiro </li>
		</ul>
</div>
</center>


