
	<div class="well well">
		<p>
			Welcome to Congo! <br>
			Congo is a marketplace where any individual can purchase or sell a product from the LAB. We have a wide variety of interesting items that include chairs, broken espresso machines, "Imported" Dark Dog energy drink coolers, and other random stuff from around this awesome space.
			
		</p>
	</div>

	<center><div class="profile_pic">
		<ul>
			<li ><img class="gabe" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAANfAAAAJDc5MDA1YzE5LTc0MGYtNDc1OC04ZmFkLTZiOTVhMjA4NTc0Mw.jpg"></li>
			<li><img  class="carlos" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/005/03f/3d5/1417ea0.jpg"></li>
			<li><img  class="jeff" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAMxAAAAJGQ2NzFjY2JiLWNkNDAtNGRiMy1hZDQ0LWUxNmEwMDJkODY1MQ.jpg"></li>
		</ul>
		<ul class="profile_name">
			<li> Gabriel Noboa </li>
			<li>Carlos Socorro</li>
			<li>Jeff Shapiro</li>
		</ul>

		<ul class="email_us">
			<li><buttom type="button" class="btn btn-default" aria-label="Left Align" id="button-i-want-to-move"><span><a href="mailto:gabriel.g.noboa@gmail.com" target="blank">Email Gabe </a></span></li>

		  <li><buttom type="button" class="btn btn-default" aria-label="Left Align" id="button-i-want-to-move"><span><a href="mailto:carlosrsocorro@gmail.com" target="blank"> Email Carlos</a></span></li>

		  <li><buttom type="button" class="btn btn-default" aria-label="Left Align" id="button-i-want-to-move"><span><a href="mailto:codesheff@gmail.com" target="blank"> Email Jeff</a></span></li>
		</ul>



