#topbar {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

body {
	/*background-color: red;*/
	background: url('http://i.imgur.com/ExFejht.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}   







.jumbotron {
	margin-top: 5px;
}

.jumbotron h1 {
	text-align: left;
}

.col-md-4 {
	border: 1px solid black;
	height: 100px;
	position: relative;
	top: 50px;
	float: left;
}