<div class="new_product_tittle">
<div class= "text-center"><h1>New Product</h1></div>
</div>

<div class= "text-center"><%= render 'form' %></div>


<center><buttom type="button" class="btn btn-default" aria-label="Left Align" id="button-i-want-to-move">
	<span><%= link_to 'Back', products_path %></span></center>
